@import "_var";
@keyframes showName {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    60% {
        transform: translate3d(0, 50%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes showTitles {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    scroll-behavior: smooth;
}

.first-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 90%;
}
#navbar {
    display: block;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 5;
    background-color: $deep_blue;
    font-family: $Montserrat;
}
#navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
#navbar a:hover {
    background-color: $grey_blue;
    color: white;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.animated-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $deep_blue;
    height: 100%;
    width: 60%;
}
.animated-titles > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 60%;
}
.animated-titles > div div {
    padding: 2vmin 0;
    position: absolute;
}
.animated-titles > div.text-top {
    height: 40%;
    font-family: $Montserrat;
    font-size: 5vmax;
    border-bottom: 1vmin solid #000;
    top: 9.5%;
}
.animated-titles > div.text-top div {
    animation: showName 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    bottom: 0;
}
.animated-titles > div.text-top div span:first-child {
    color: $grey_blue;
}
.animated-titles > div.text-bottom {
    font-family: $Montserrat;
    font-size: 3vmax;
    bottom: 0;
}
.animated-titles > div.text-bottom div {
    animation: showTitles 0.5s;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
    top: 100;
    transform: translate(0, -100%);
}

.second-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vmin;
    color: white;
    background: $deep_blue;
}
.anchor {
    display: block;
    width: 10px;
    height: 10px;
    margin-top: -720px; 
    visibility: hidden;
}
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: aliceblue;
    height: 100%;
    width: 85%;
}
.about-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.title {
    width:50%;
    font-size: 6vw;
    font-family: $Montserrat;
    color: rgba(255, 255, 255, 0.641);
    text-align: center;
}
.text {
    width: 50%;
    font-size: 4vmin;
    text-align: center;
}

.third-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260vh;
}
.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    width: 85%;
}
.projects-container > div.projects-title {
    width: 100%;
}
.projects-container > div:first-child {
    color: $deep_blue;
    text-align: left;
}
.projects-container > div.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 70%;
}
div.list-container > div.project {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 60px;
}
div.project > div.image-box {
    z-index: -1;
    width: 50%;
    height: 80%;
    border-radius: 10px;
}
div.project > div.text-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    padding: 20px;
    background-color: $deep_blue;
    color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
div.project > div:first-child {
    opacity: 0;
    transform: translateX(-9em);
    transition: transform 0.5s 0.25s cubic-bezier(0, 1, 0.3, 1),
                opacity 0.25s 0.25s ease-in;
    will-change: transform, opacity;
    pointer-events: none;
}
div.project > div:nth-child(2) {
    opacity: 0;
    transform: translateX(9em);
    transition: transform 0.5s 0.25s cubic-bezier(0, 1, 0.3, 1),
                opacity 0.25s 0.25s ease-in;
    will-change: transform, opacity;
    pointer-events: none;
}
div.project > div.is-visible {
    transform: translate(0,0);
    opacity: 1;
}
.right {
    margin-left: -2em;
}
.left {
    margin-right: -2em;
}
div.text-box p {
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}
div.text-box h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}
div.text-box a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: $grey_blue;
    color: black;
    padding: 5px 10px;
    border-radius: 7px;
    margin-top: 1em;
}
div.text-box a:hover {
    background-color: rgb(53, 67, 93);
}
.icon {
    margin-right: 0.4em;
}
.picture1 {
    background: url(../images/yt2sp.png) no-repeat center / cover;
}
.picture2 {
    background: url(../images/tictactoe.jpg) no-repeat center / cover;
}
.picture3 {
    background: url(../images/placeholder.svg) no-repeat center / cover;
}

.fourth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vmin;
    color: white;
    background: $deep_blue;
}
.contacts-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: aliceblue;
    height: 100%;
    width: 85%;
}
.contacts-container > div.contact-text {
    display: flex;
    justify-content: right;
    width: 100%;
}
.contacts-container > div.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vmin;
}
div.icons a {
    margin: 10%;
}
.contact-icon {
    width: 15vmin;
    height: 15vmin;
}
.contact-icon:hover {
    filter: invert(25%);
}
.contacts-container > div.back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    width: 100%;
}
div.back-to-top button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
div.back-to-top button:hover {
    filter: invert(30%);
}

@media only screen and (max-width: 468px) {
    .animated-titles > div.text-top {
        font-size: 3vmax;
    }
    .animated-titles > div.text-bottom {
        font-size: 2vmax;
    }
}

@media only screen and (max-width: 768px) {
    .projects-container > div.list-container {
        width: 100%;
    }
    div.list-container > div.project {
        flex-direction: column;
    }
    .alt > div:first-child {
        order: 1;
    }
    .alt > div.text-box {
        margin-top: -2em;
    }
    div.project > div.image-box {
        width: 100%;
    }
    div.project > div.text-box {
        width: 70%;
        margin: 0;
        margin-top: -2em;
    }
}
